
body {
    background-color: #f0f8ff;
    font-family:sans-serif;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
    margin-bottom:60px;
}

.app-theme {
    border-bottom: 1px solid #b5b8b9;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f0f8ff; /* 背景色を設定 */
    z-index: 1000; /* 他の要素の上に表示されるようにする */
    padding: 10px 0; /* 上下のパディングを追加 */
}

.tytle-logo {
    font-family: "Alegreya Sans";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.home_link {
    text-decoration: none;
    color:rgb(43, 195, 195);
    position: absolute;
    right: 30px;
}

/* 文字の一部だけ色を変更 */
.tytle-logo span {
    color: rgb(43, 195, 195);
}


ul {
    font-family: "Meiryo";
    font-size:16px;
    width: 400px;
    margin:0 auto;
    column-count: 4;
    text-align: left;
}

li {
    list-style: none;
}

.main_icons {
    display: flex;
}

.img {
    margin:10px;
    width: 70px;
    filter:grayscale(100%);
}

.s_img {
    margin:10px;
    width: 100px;
}

#s_01_img {
    filter:initial;
}

.main_contents {
    background-color: white;
    margin:150px auto 0;
    border-radius: 10%; 
    width: 90%;
    height: 90%;
}

.field_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.fa-solid {
    margin-right:10px;
    margin-left:10px;
    color:rgb(43, 195, 195);
}


/* タイトル「価値観ワーク」のロゴ */
h1 {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    margin: 0px 20px;
    }

h2 {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    margin: 0px;
    }

/* ルール説明のロゴ */
.rule {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    }

/* セロハンテープで貼ったメモ */
.rule {
    width: 60%;
    padding: 15px;
    margin: 2em auto;
    background: #f7f092;/* 紙の色 */
    color: #000;/* 文字色 */
    box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
    word-break: break-all;
    }

.rule p {
    margin: 0; 
    padding: 0;
    font-size: 0.9em;
}
.rule_tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #989898;
    transform: rotate(-3deg);
    opacity: 0.1;
}
.rule_title {
    text-align: center;
    font-size: 1.3em!important;
    margin-top: 10px!important;
    font-weight: bold;
}

.value_message {
    width: 90%;
    text-align: center;
    margin:0 auto;
    border-radius: 20px;
}

.date-display {

    font-size:20px;
    font-family: "Caveat", cursive;
    font-style: normal;    
}

.past_message {
    height: auto;
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
    padding-bottom:50px;
}


/* 価値観カード */
#pastResults {
    width: 90%;
    min-height: 100px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sortableArea {
    width: 90%;
    min-height: 100px;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

#pastResults, #sortableArea {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.past-value-item{
    width: 120px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.sortable-image {
    width: 120px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.btn_field {
    text-align: center;
    margin-top:20px;
}


button {
    display: inline-block;
    margin: 30px; 
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(43, 195, 195);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: rgb(43, 195, 195);
    border: 2px solid rgb(43, 195, 195);
}

/* スマホサイズでの調整 */
@media (max-width: 600px) {
    #sortableArea {
        width: 90%;
        margin: 0 auto;
    }
    ul {
        width: 70%;
        column-count: 2;
    }
}

/* ボタンのCSSを設定 */
#show {
    margin-top: 40px;
    margin-bottom:20px;
    color: white;
    background-color: rgb(43, 195, 195);
    padding:10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

 #show:hover {
    background-color: #fff;
    color: rgb(43, 195, 195);
    border: 2px solid rgb(43, 195, 195);
}

#save {
    margin-top: 30px;
    color: white;
    background-color: rgb(43, 195, 195);
    padding:10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

 #save:hover {
    background-color: #fff;
    color: rgb(43, 195, 195);
    border: 2px solid rgb(43, 195, 195);
}

#selectbtn {
    margin: 30px;
    color: white;
    background-color: rgb(43, 195, 195);
    padding:10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

 #selectbtn:hover {
    background-color: #fff;
    color: rgb(43, 195, 195);
    border: 2px solid rgb(43, 195, 195);
}
